{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
   body{
	margin:0;
	padding:0;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center my-2">
            <h4>Gallery</h4>
        </div>
    </div>
<!--    <div class="portfolio-menu mt-2 mb-4">-->
<!--        <ul>-->
<!--            <li class="btn btn-outline-dark active" data-filter="*">All</li>-->
<!--            <li class="btn btn-outline-dark" data-filter=".gts">Campus</li>-->
<!--            <li class="btn btn-outline-dark" data-filter=".lap">Fest</li>-->
<!--            <li class="btn btn-outline-dark text" data-filter=".selfie">Others</li>-->
<!--        </ul>-->
<!--    </div>-->

	<div class="portfolio-item row">
    <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna1.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna1.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna2.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna2.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna3.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna3.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna4.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna4.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/ternagate2.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna15.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna10.jpg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna10.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna6.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna6.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna7.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna7.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna8.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna8.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna9.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna9.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna10.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna10.jpeg' %}" alt="">
        </a>
    </div>
    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
        <a href="{% static 'images/terna11.jpeg' %}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{% static 'images/terna11.jpeg' %}" alt="">
        </a>
    </div>

    <!-- Continue updating other image sources similarly -->
</div>



      <script>
                // $('.portfolio-item').isotope({
        //  	itemSelector: '.item',
        //  	layoutMode: 'fitRows'
        //  });
        $('.portfolio-menu ul li').click(function(){
          $('.portfolio-menu ul li').removeClass('active');
          $(this).addClass('active');

          var selector = $(this).attr('data-filter');
          $('.portfolio-item').isotope({
            filter:selector
          });
          return  false;
        });
        $(document).ready(function() {
        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
        type : 'image',
        gallery : {
          enabled : true
        }
        });
        });
      </script>

{% endblock %}